@charset "ISO-8859-1";

.login {
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 50px;
    margin: 50px;
}

form {
    padding-bottom: 30px;
}

.logout {
	text-align: center;
	padding-left: 20px;
}

.display {
	text-align: center;
}

.loginInfo {
	text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: black;
    padding: 50px;
    margin: 50px;
}

.loginInfo p {
	text-align: center;
}

a {
	text-align: center;
}