<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Arbys</display-name>
  <servlet>
    <display-name>ArbysServlet</display-name>
    <servlet-name>ArbysServlet</servlet-name>
    <servlet-class>com.revature.servlet.ArbysServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArbysServlet</servlet-name>
    <url-pattern>/Arbys</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InfoServlet</display-name>
    <servlet-name>InfoServlet</servlet-name>
    <servlet-class>com.revature.servlet.InfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoServlet</servlet-name>
    <url-pattern>/InfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutServlet</display-name>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>